.amina{
    width: 25px;
    height: 25px;
    display: inline;
    background-color: #FFECBB;
}
.guli{
    width: 25px;
    height: 25px;
    display: inline;
    background-color: #84CEF9 ;
}
.aigerim{
    width: 25px;
    height: 25px;
    display: inline;
    background-color: #84F9C1;
}
.begimai{
    width: 25px;
    height: 25px;
    display: inline;
    background-color: #E7C1F9;
}
.text{
    font-size: 18px;
}